Anadir_Cliente.json
{
  "name": "Anadir_Cliente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab348ec6-2fc1-4e0d-8864-354047f934e0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "86119490-8d2d-44a1-9f3e-f568b24240d0",
      "name": "Webhook",
      "webhookId": "e4ddeef9-7fec-462f-8c01-c179e2fc097c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "078165b2-9b95-4944-9a87-31347cc6f90e",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "d9fd1000-1094-4668-b846-420ebe27d296",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "809eef80-e557-42c4-aa56-2c3c3fddee8c",
              "name": "body.vip_status",
              "value": "={{ $json.body.vip_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "bf3680ef-1cde-4bc0-b13f-2c8c2124afb1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customers",
          "mode": "list",
          "cachedResultName": "customers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.body.email }}",
            "name": "={{ $json.body.name }}",
            "vip_status": "={{ $json.body.vip_status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vip_status",
              "displayName": "vip_status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "8d66555c-468e-4411-a01d-f172cccb6eef",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "MdsOFNRJsHzonpPX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customers",
          "mode": "list",
          "cachedResultName": "customers"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "77cda7a0-790e-45af-b56f-7fbe218b432a",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "MdsOFNRJsHzonpPX",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef6e029c-45af-4f23-8fd7-eefab5b1dcf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c2610867985599bc95d06b233596937e9c95f2f5fbe39e2d6f329f86398f38e"
  },
  "id": "lcUUc1lo9mz3TvNF",
  "tags": []
}